################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/js-test-prep
/CardValidator/CardValidator.Tests/obj/Debug/net9.0/CardValidator.Tests.AssemblyInfo.cs
/CardValidator/CardValidator.Tests/obj/Debug/net9.0/CardValidator.Tests.AssemblyInfoInputs.cache
/CardValidator/CardValidator.Api/obj/Debug/net9.0/CardValidator.Api.AssemblyInfo.cs
/CardValidator/CardValidator.Api/obj/Debug/net9.0/CardValidator.Api.AssemblyInfoInputs.cache
/CardValidator/.vs/CardValidator/CopilotIndices/17.14.670.39694/CodeChunks.db
/CardValidator/.vs/CardValidator/CopilotIndices/17.14.670.39694/SemanticSymbols.db
